<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Documentation</title>
</head>

<body>
    <style>
        body {
            margin: 5%;
        }

        li {
            margin: 0.5rem 0;
        }
    </style>
    <h1 style="margin-bottom: 0;">API Documentation</h1>
    <h2 style="color:gray">AmazonClone</h2>
    <i style="margin-left: 1rem;">Available Endpoints:</i>
    <ul>
        <li>/products (example:. https://www.example.com/products) &lt; GET &gt;</li>
    </ul>
</body>

</html>